<h1>Goals</h1>

<ul>
  <% if current_user == @user %>
    <%= render @user.goals %>
  <% else %>
    <%= render @user.public_goals %>
  <% end %>
</ul>

<h3>Add a Goal!</h3>

<form action="<%= goals_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>
    Title
    <input type="text" name="goal[title]">
  </label>
  <br>
  <label>
    Description
    <br>
    <textarea
      name="goal[description]"
      rows="8"
      cols="40"
      placeholder="Describe your goal!"
      ></textarea>
  </label>
  <br>

  <label>
    Private
    <input type="checkbox" name="goal[private]" value="true">
  </label>
  <br>
  <input type="submit" value="Create New Goal">

</form>

<ul>
<% @user.profile_comments.each do |comment| %>
  <li>
    <%= comment.body %>
    <br>
    -<em><%= comment.author.username %></em>
    <form action="<%= user_comment_url(comment) %>" method="post">
      <input type="hidden"name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" value="delete comment">
      </input>

    </form>
  </li>
<% end %>
</ul>

<h3>Add a comment!</h3>

  <form action="<%= user_comments_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <input type="hidden" name="user_comment[user_id]" value="<%= @user.id %>">

    <label>
      Comment Body
      <br>
      <textarea
        name="user_comment[body]"
        rows="8"
        cols="40"
        placeholder="Describe your goal!"
        ></textarea>
    </label>
    <br>

    <br>
    <input type="submit" value="Comment">

  </form>
