<li>
<h4>Title: <%= goal.title %> <%= "√" if goal.completed %></h4>
<%= goal.description %>
<br>
</li>
<% if current_user == goal.user %>
  <a href="<%= edit_goal_url(goal) %>">Edit Goal</a>
<% end %>
<ul>
<% goal.comments.each do |comment| %>
  <li>
    <%= comment.body %>
    <br>
    <em>-<%= comment.author.username %></em>
    <% if current_user == comment.author %>
      <form action="<%= comment_url(comment) %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="delete goal comment">
      </form>
    <% end %>
  </li>
<% end %>
</ul>

<h5>Add Goal Comment</h5>
<form action="<%= comments_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <input type="hidden" name="comment[commentable_id]" value="<%= goal.id %>">
  <input type="hidden" name="comment[commentable_type]" value="Goal">

  <label>Goal Comment
    <input type="textarea" name="comment[body]">
  </label>

  <input type="submit" value="Comment on Goal">

</form>
