<!DOCTYPE html>
<html>
<head>
  <title>GoalApp</title>
</head>
<body>

<% if logged_in? %>
  <%= current_user.username %>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="submit" value="Sign Out">
  </form>
<% else %>
  <a href="<%= new_session_url %>">
    Sign In
  </a>
  <a href="<%= new_user_url %>">
    Sign Up
  </a>
<% end %>
<br>
<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

<%= yield %>

</body>
</html>
